@import "tailwindcss";
body {
    user-select: none;
}
input {
    border: none;
}

/* Estilos para escritorio (1024px en adelante) */
@media screen and (min-width: 1024px) {
    body {
        padding: 0 20%;
    }
}

#formCreateOrden input {
    border: 1px solid gray;
}

button {
    cursor: pointer;
}
