---
import "../styles/global.css";
import Inicio from "../components/Index";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/public/favicon.svg" type="image/svg+xml" />
        <link rel="svg" href="/public/favicon.svg" type="image/svg+xml" />
        <title>Inventory Beams</title>
    </head>
    <body>
        <Inicio />
    </body>
</html>
