---
import "../styles/global.css";
import SearchBar from "../components/SearchBar.astro";
import Title from "../components/Title.astro";
import OrderList from "../components/OrderList.astro";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Beams</title>
    </head>

    <body>
        <div class="p-6">
            <Title />
            <br />
            <SearchBar />
            <br />
            <div class="md:grid md:grid-cols-2">
                <OrderList />
            </div>
        </div>

        <body> </body>
    </body>
</html>
